[Unit]
Description=Real-time ClamAV scanner for /home
Wants=clamav-daemon.service
After=network.target clamav-daemon.service

[Service]
ExecStart=/usr/local/bin/inotify-clamav.sh
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
